ion-toolbar{
    --background: #43C4AC;
    --color:#fff;
}
ion-button {
    --padding:5px;
    --background: #ffb74d;
    
}

.icon{
    width:40px;
    height:40px;
    margin-right:10px;
}

ion-card {
    background-color: #43C4AC;
    --padding:10px;
    border-radius: 10px;    
}


ion-card-title {
    color: white;
    font-size: 25px;
}


ion-card-subtitle {
    color: white;
    font-size: 15px;
}

ion-button {
    padding-left: 20px;
}


