<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Notification</ion-title>
    <ion-buttons (click)="logout()" slot="end">
      <ion-icon class="icon" name="log-in-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>JOYCE ISLA</ion-card-title>
      <ion-card-subtitle>FROM: STA.RITA</ion-card-subtitle>
      <ion-card-subtitle>TO: SM DOWNTOWN</ion-card-subtitle>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="success" (click)="acceptTrip()">
              <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                Accept
            </ion-button>
          
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="rejectTrip()">
            <ion-icon slot="start" name="backspace"></ion-icon>
              Reject
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>
</ion-content>


  
  
  


