ion-card {
    background-color:#43C4AC;
    height: 165px;
    width: 480px;
    }


ion-card-title {
    color: white;
    font-size: 25px;
}


ion-card-subtitle {
    color: white;
    font-size: 15px;
}

ion-button {
    padding-left: 20px;
}


