ion-card {
    background-color:#43C4AC;
    height: 160px;
    width: 337px;
    border-radius: 15px;
    }


ion-card-title {
    color: #000;
    font-size: 25px;
    font-weight: bold;
}


ion-card-subtitle {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

ion-card-content {
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}



