<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Trips</ion-title>
    <ion-buttons (click)="logout()" slot="end">
      <ion-icon class="icon" name="log-in-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
       
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SM CITY OLONGAPO CENTRAL</ion-card-title>
      <ion-card-subtitle>J09-345</ion-card-subtitle>
      <ion-card-subtitle>8 Seats Available</ion-card-subtitle>

      <ion-grid>
        <ion-row>
          <ion-col>
    
          </ion-col>
          <ion-col>
            <button class="btn" (click)="editTrip()">
              <ion-icon slot="start" name="create"></ion-icon>
                EDIT TRIP
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-card-header>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <button class="btn padding" (click)="createTrip()">
    <ion-icon slot="start" name="add-circle"></ion-icon>
      CREATE TRIP
  </button>
</ion-fab>
</ion-content>


