<ion-header>
  <ion-toolbar>
    <ion-title>Driver Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="user-container">
      <div class="user-info">
        <img [src]="" alt="Profile Picture">
    </div> 

    <div class="user-info">
      <h1>{{ user.username }}</h1>
       <p>{{ user.email }}</p>
       <p>{{ user.password }}</p>
       <p>{{ user.contactnumber}}</p>
   </div>
    </div>
  
      <div class="user-info-buttons">
        <ion-button color="primary" (click)="editProfile()">Edit Profile</ion-button>
        <ion-button color="danger" (click)="logout()">Logout</ion-button>
      </div>
      </ion-content>
      
  
  