<ion-card>
  <ion-button (click)="editProfileDismiss()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-item>
  <ion-icon name="create"></ion-icon>
  <ion-label>Edit Profile</ion-label>
</ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input placeholder=""></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder=""></ion-input>
</ion-item>

  <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input placeholder=""></ion-input>
</ion-item>

 
  <ion-button (click)="editProfileDismiss()">
  <ion-icon slot="start" name="checkmark-circle"></ion-icon>
   Submit
</ion-button>

</ion-card>
