<ion-content>
  <ion-button class="btn-back" (click)="editProfileDismiss()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <div class="header">
    <h1>Edit Information</h1>
  </div>
  <div class="section">
    <ion-card>

      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input placeholder=""></ion-input>
    </ion-item>
    <br>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder=""></ion-input>
    </ion-item>
    <br>
      <ion-item>
          <ion-label position="floating">Contact Number</ion-label>
          <ion-input placeholder=""></ion-input>
    </ion-item>
    <br>
     
      <button class="btn" (click)="editProfileDismiss()">
       Submit
    </button>
    
    </ion-card>
  </div>
</ion-content>