ion-card {
    --ion-background-color: #e6eeed;
    padding:10px;
    border-radius: 10px;
    margin-top: 30%;
    
}

ion-item {
  font-size: 20px;
}

ion-button {
  --padding:5px;
  --background: #ffb74d;
  
}