<ion-header>
  <ion-toolbar>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

     <ion-content>
      <div class="user-container">
        <div class="user-info">
            <img [src]="" alt="Profile Picture">

          

          </div> 
        </div>

     <div class="user-info-buttons">
        <ion-button color="primary" (click)="editProfile()">Edit Profile</ion-button>
        <ion-button color="danger" (click)="logout()">Logout</ion-button>
      </div>
      </ion-content>
    

