ion-toolbar{
    --background: #fff;
    box-shadow: none;
    --color:#fff;
    --border-style: none;
}
ion-title{
    color:#ffb74d;
}
ion-button {
    --padding:5px;
    --background: #ffb74d;
    
}

.icon{
    color:#ffb74d;
    width:40px;
    height:40px;
    margin-right:10px;
}

.header {
    background-color: #F1592A;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
    
    h4 {
        color: #fff;
    }
}

.user-container {
    padding: 15px;
    
    .user-info {  
        text-align: center;
        padding: 20px;

        img { 
            margin: 0 auto;
            height: 120px;
            width: 120px;
            border-radius: 100px;
        }

        .names {
            margin: 10px 0;

            p {
                color: var(--ion-custom-shade);
            }
        }
    }
}
.user-info-buttons {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20%;
    padding: 20px;
}

ion-card{
    box-shadow:none;
}
table{
    width:100%;

    td{
        padding: 8px;
        font-size: 18px;
        color:#000;
    }
}

.btn{
    background: #43C4AC;
    color:#fff;
    font-size:15px;
    padding:10px;
    width:100%;
    border-radius: 50px;
}
.padding{
    padding:20px;
}
