<ion-content>
  <ion-button class="btn-back" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <div class="header">
      <h1>Create Trip</h1>
    </div>
    
    <div class="section">
      <form [formGroup]="tripForm">  
        <ion-card>
            <ion-item>
              <ion-label position="floating">Origin</ion-label>
              <ion-input formControlName="trips_origin" placeholder="Your Current Location"></ion-input>
          </ion-item>
          <br>
            <ion-item>
              <ion-label position="floating">Destination</ion-label>
              <ion-input formControlName="trips_distination" placeholder="Your Destination"></ion-input>
          </ion-item>
          <br>
            <ion-item>
              <ion-label position="floating">Number of Passenger</ion-label>
              <ion-input formControlName="trips_passenger" placeholder="Number of Passengers"></ion-input>
          </ion-item>
          <br>
            <ion-item>
                <ion-label position="floating">Line Code</ion-label>
                <ion-input formControlName="trips_bodynum" placeholder="Ex.Yellow"></ion-input>
          </ion-item>
          <br>
          
            <button type="button" class="btn" (click)="createTripDismiss()">Submit</button>
        </ion-card>
      </form>
    </div>
  </ion-content>