<ion-card>
  <ion-button (click)="signUpDismiss()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-item>
  <ion-icon name="person-add"></ion-icon>
  <ion-label>SIGN UP</ion-label>
</ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Contact Number</ion-label>
    <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Address</ion-label>
  <ion-input></ion-input>
</ion-item>


 
    <ion-button (click)="signUpDismiss()">
    <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      Sign Up
</ion-button>
</ion-card>



