<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Jeeps Nearby</ion-title>
    <ion-buttons (click)="logout()" slot="end">
      <ion-icon class="icon" name="log-in-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <h3 class="header">
        Available Jeep
      </h3>
  
  <ion-card *ngFor="let trip of tripsData">
    <table>
      <tr>
        <td width="60%">
          <ion-label>Destination: {{ trip.trips_destination }}</ion-label>
          <br>
          <ion-label>Location: {{ trip.trips_origin }}</ion-label>
          <br>
          <ion-label>Available Seats: {{ trip.trips_passenger }}</ion-label>
        </td>
        <td>
          <button class="btn padding" (click)="bookNowClick(trip)">Book Now</button>
        </td>
      </tr>
    </table>
  </ion-card>
  <!-- driver_id: 1
trips_bodynum: "J09-234"
trips_destination: "SM Gate"
trips_id: 5
trips_isArchived: 1
trips_origin: "Sta. Rita (Pepsi)"
trips_passenger: "12" -->

<!-- trips_id	
users_id	
reserve_current	
reserve_destination	
reserve_status	
reserve_timestamp	

 -->
  
</ion-content>
